@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.is-loading {
    color: transparent;
}

.is-loading:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #000;
    animation: spinner .6s linear infinite;
}